%h1 Listing wikis

%table
  %tr
    %th Name
    %th Has many
    %th
    %th
    %th

  - @wikis.each do |wiki|
    %tr
      %td= wiki.name
      %td= wiki.has_many
      %td= link_to 'Show', wiki
      %td= link_to 'Edit', edit_wiki_path(wiki)
      %td= link_to 'Destroy', wiki, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Wiki', new_wiki_path
